{%  extends 'base/base.html' %}
{% load static %}
{% block extcss %}
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
{% endblock %}
{% block extjs %}
    <script src="{% static 'index/js/home.js' %}"></script>
{% endblock %}

{% block titile %}
    爱鲜蜂 | 首页
{% endblock %}

{% block content %}
    <div class="home">

    <div class="swiper-container" id="topSwiper">
        <div class="swiper-wrapper">
            {% for wheel in wheels %}
                <div class="swiper-slide">
                    <img src="{{ wheel.img }}" alt="">
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>

    </div>

{#    导航#}
    <div class="nav">
        <ul>
            {% for nav in navs %}
                <li>
                    <img src="{{ nav.img }}" alt="">
                    <span> {{ nav.name }} </span>
                </li>
            {% endfor %}
        </ul>
    </div>

{#每日必购#}
    <div class="swiper-container" id="mustbuySwiper">
        <div class="swiper-wrapper">
            {% for mustbuy in mustbuys %}
                <div class="swiper-slide">
                    <img src="{{ mustbuy.img }}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>

{#    商品信息#}
    <div class="shop">
{#    显示骑车图片#}
        <div class="shophead">
            <a href="#">
                <img src="{{ shophead.img }}">
            </a>
        </div>

{#展示一堆导航类图片#}
        <div class = 'shoptab'>
            {% for table in shoptab %}
                <a href="#">
                    <img src="{{ table.img }}" >
                </a>
            {% endfor %}
        </div>

        <ul class="shopclass">
            {% for item in shopclass %}
                <li>
                    <a href="#">
                        <img src="{{ item.img }}" >
                    </a>
                </li>
            {% endfor %}
        </ul>

        <ul class="shopcommend">
            {% for item in shopcommend %}
                <li>
                    <a href="#">
                        <img src="{{ item.img }}" >
                    </a>
                </li>
            {% endfor %}
        </ul>

    {# 开始显示一下商品主体内容   #}
    <div class="main">
        {% for mainshow in mainshows %}
            <div class="main-wrapper">
                <div class="title">
                    {{ mainshow.name }}
                    <a href="#">更多</a>
                    <span></span>
                </div>

                <div class="headimg">
                    <img src="{{ mainshow.img }}" alt="">
                </div>

                <div class="shoplist">

                    <div class="shopitem">
                        <a href="#">
                            <img src="{{ mainshow.img1 }}" alt="" class="img">
                            <span class="desc">
                                {{ mainshow.longname1 }}
                            </span>
                            <span class="price">
                                {{ mainshow.price1 }}
                            </span>
                            <span class="marketprice">
                                {{ mainshow.marketprice1 }}
                            </span>
                        </a>
                        <button><span>+</span></button>
                    </div>


                    <div class="shopitem">
                        <a href="#">
                            <img src="{{ mainshow.img2 }}"  class="img">
                            <span class="desc">
                                {{ mainshow.longname2 }}
                            </span>
                            <span class="price">
                                {{ mainshow.price2 }}
                            </span>
                            <span class="marketprice">
                                {{ mainshow.marketprice2 }}
                            </span>
                        </a>
                        <button><span>+</span></button>
                    </div>


                    <div class="shopitem">
                        <a href="#">
                            <img src="{{ mainshow.img3 }}" alt="" class="img">
                            <span class="desc">
                                {{ mainshow.longname3 }}
                            </span>
                            <span class="price">
                                {{ mainshow.price3 }}
                            </span>
                            <span class="marketprice">
                                {{ mainshow.marketprice3 }}
                            </span>
                        </a>
                        <button><span>+</span></button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>








    </div>
{% endblock %}